body {
	font-family: arial;
}


.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.image-in-line {
	display: inline;
	height: 16px;
    width: 15px; 
}


.image-title {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}


aside {
	background: #F0F0F0;
	width: 30%;
	height: 500px;
    border: 1px solid #727a7e;
    border-radius: 5px;
    float: left;
    overflow: auto;
}


main {
	text-align: left;
	font-family: arial;
	position: relative;
	margin-top: 50px;
	width: 69%;
	height: 500px;
	overflow: auto;
	margin-left: 50px;
	border: 1px solid black;
	border-radius: 5px;
}


main img {
	display: block;
	width: 70%;
	height: auto;
	margin-left: auto;
    margin-right: auto;
}


main > h1 {
	text-align: center;
}


.sections {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

}


.text {
	width: 85%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;
}


.up-arrow {
	position: sticky;
	top: calc(100% - 40px);
	left: calc(100% - 45px);
	height: 20px;
	width: 20px;
	cursor: pointer;
	transform: rotate(-45deg);
	border-top: 5px solid rgba(0, 130, 255, 1.0);
	border-right: 5px solid rgba(0, 130, 255, 1.0);
	display: block;
}


.up-arrow:hover {
	border-top: 5px solid rgba(0, 108, 212, 1.0);
	border-right: 5px solid rgba(0, 108, 212, 1.0);
}


.top-panel {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background: rgba(2, 101, 238, 0.4);
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}


.gap {
  background-color: lightgray;
}


.magnifying-glass {
	content: "";
	width: 50px;
	height:15px;	
	border: 1px solid red;
	border-radius: 0 7.5px 7.5px 0;
	background: rgba(0, 0, 0, 0);
	transform-origin: 0 50%;
    transform: translateX(100%) rotate(45deg);
}


#choose-section {
	width: 90%;
}


.transition-between-found-words {
	margin-left: 10px;
}


.highlight {
	border: 2px solid #144cff;
}


.highlight-on-current {
	background-color: #FFF700;
	background-color:#14f1ff;
	background-color: #fff714;
}


.scroll-to-found {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 0.5px;
}


.scroll-to-found:disabled  {
	opacity: 0.5;
  	pointer-events: none;	
}


.fa-arrow-down {
	border-radius: 0 5px 5px 0;
}


.fa-arrow-up {
	border-radius: 5px 0 0 5px;
}


.fa-arrow-up, .fa-arrow-down {
	background: rgba(0, 130, 255, 1.0);
	border: 0px solid black;
	color: white;
	height: 30px;
	width: 35px;
	margin-top: 4px;
}


.fa-arrow-up:disabled, .fa-arrow-down:disabled {
	background: rgba(0, 130, 255, 0.3);
}


.fa-arrow-up:not(:disabled):hover, .fa-arrow-down:not(:disabled):hover {
	background-color: rgba(0, 108, 212, 1.0);
	cursor: pointer;
}


.result-of-search {
	display: inline-block;
	vertical-align: top;
	margin-top: 4px;
	width: 200px;
	height: 30px;
	text-align: center;
	border: 0px solid silver;
	background: white;
}


.sections {
	text-align: left;
}


.top-panel-aside {
	position: sticky;
	width: 100%;
	height: 40px;
	background: rgba(99, 112, 116, 0.4);
}


.search-container {
	margin-left: calc(100% - 285px);
}


#search-container-2 {
	grid-column-start: 3;
	grid-column-end: 3;
	margin-left: calc(100% - 285px - 2%);
}


.search {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}


.find, .stop-search {
	margin-left: 0px;
    padding: 4px 10px;
    background-color: rgba(0, 130, 255, 1.0);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3px;
}


.stop-search {
    background-color: rgba(255, 86, 86, 1.0);
    border-radius: 0 5px 5px 0;
}


.find:not(:disabled):hover {
	background-color: rgba(0, 108, 212, 1.0);
}


.find:disabled {
	background-color: rgba(0, 108, 212, 0.3);
	cursor: default;
}


.stop-search:disabled {
	background-color: rgba(255, 86, 86, 0.3);
	cursor: default;
}


.stop-search:not(:disabled):hover {
	background-color: rgba(255, 22, 22, 1.0);
}


.transition-between-found-words {
	margin-left: 10px;
}


@media screen and (max-width: 1070px) {
	#search-of-part {
		width: 65%;
	}

	aside, main {
		height: 300px;
	}

	#left-search-container {
		margin-left: auto;
		margin-right: auto;
	}

	#search-of-part {
		width: 50%;
		height: 24px;
		border: 0px;
		margin-top: 4px;
	}

	#find-part, #stop-search-of-part {
		width: 14%;
		padding: 0px;
	}
}


@media screen and (max-width: 1000px) {
	p {
		font-size: 12px;
	}

	aside, main {
		height: 280px;
	}

	.top-panel {
		height: auto;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.gap {
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 2fr;
		display: none;	
	}

	.search {
	    max-width: 60%;
	}

	.result-of-search {
		display: inline-block;
		vertical-align: top;
		margin-top: 4px;
		margin-left: auto;
		margin-right: auto;
		max-width: 50%;
		text-align: center;
		font-size: 12px;
		text-align: center;
	}

	#search-container-2 {
		margin-left: auto;
		margin-right: auto;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-rows-end: 1;
		margin-bottom: 5px;
		margin-top: 5px;
	}

	.transition-between-found-words {
		margin-left: auto;
		margin-right: auto;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-rows-end: 2;
		margin-bottom: 5px;
		margin-top: 5px;
	}
}


@media screen and (max-width: 550px) {
	p {
		font-size: 8px;
	}

	aside, main {
		height: 150px;
	}

	#search {
	    max-width: 70%;
	    height: 20px;
		font-size: 80%;
		border: 0px;
	}

	.result-of-search {
		max-width: 70%;
		height: 20px;
	}

	#next-word, #last-word, #find, #stop-search{
		text-align: center;
		width: 10%;
		height: 20px;
		font-size: 80%;
		padding: 0px;
	}
}


@media screen and (min-width: 2900px) {
	#search-container-2 {
		margin-left: calc(100% - 285px - 6%);
	}
}
