.tooltip-style  {
  position: absolute;
	background-color: #216BFF;
	border-radius: 5px;
	color: white;
	font-family: arial;
	padding: 15px;
	width: auto;
	max-width: 250px;
  z-index: 1900;
}


.modal-window {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.7);
}


.modal-window-content {
	border-radius: 5px;
	background-color: #216BFF;
	margin: 15% auto;
	position: relative;
	padding: 25px;
	font-family: arial;
	color: white;
	border: 1px dashed #888;
	width: 60%;
	z-index: 996;
}


.fa-play, .fa-stop {
	background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  margin: 10px 25px 10px 25px;
  color: #646464;
}


.fa-play:hover, .fa-stop:hover {
	color: #4B4B4B;
}


.fa-play:focus, .fa-stop:focus {
	outline: none;
}


.close-modal {
	position: absolute;
	margin-top: -35px;
	margin-left: calc(100% - 45px);
	color: #fff;
	font-size: 28px;
	font-weight: bold;
}


.close-modal:hover,
.close-modal:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}


*[title]:hover::after {
  content: '' !important;
  visibility: hidden !important;
}


.modal-window-button {
  display: block;
}